body {
    height: 100%;
    padding: 0;
    font-family: 'helvetica', Arial, sans-serif;
    margin: 0;
    width: 100%;
}

div.header {
    width: 100%;
    background-color: red;
    background-image: url('./images/gratisography-mountain-cloud-landscape.jpg');
    background-size: cover; 
    background-position: top;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: middle;
    text-align: center;
    padding: 2em;
}

div.header h1 { 
    padding: 1em;
    margin: 0;
}
div.header img.face-pic {
    border-radius: 100%;
    height: 250px;
}

div.header .info {
    text-align: left;
    width: 35em;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
    padding: 20px;
}

div.header .info img {
    padding: 20px;
}

div.projects {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

div.projects ul {
    list-style: none;
    display: inline-flex;
}

div.projects ul li {
    display: inline-flex;
    align-items: space-between;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0,8);
}

div.projects ul a {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 20px;
}
div.projects ul a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

div.contact {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    display: flex;
    flex-flow: column;
    padding: 20px;
    align-items: center;justify-content: center;
}

div.contact form {
    padding: 10px;
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
}
div.contact form input {
    font-size: 1em;
    padding: .2em;
}

footer {
    widtLh: 100%;
    background-color: black;
    text-align: center;
    color: white;
    margin: 0;
    padding: 10px;
}

img.poster {
    width: 100%;
    max-width: 100%;
    padding: 0;
    overflow: hidden;
}

div.projects .project {
    display: flex;
}

div.projects .project img {
    height: 20px;
}